
body
{
    background-color: aqua;
    padding: 1in;
}

h1
{
  margin-top: 2cm;
  border: 2px dotted black;
}

p
{
    color: rgb(0, 0, 255);
    font-family: sans-serif;   
}

p.Hyperlink
{
  margin-top: 10in;
}